<h2 style="margin: auto"> Stocks</h2>
  <table  *ngIf="stocks">
    <thead>
    <tr>
      <th>Id</th>
      <th>Stock Name</th>
      <th>Stock Code</th>
      <th>Current Price</th>
      <th>Currency Code</th>
      <th>Created Date</th>
      <th>Last Updated</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let stock of stocks">
      <td>{{stock.id}}</td>
      <td>{{stock.name}}</td>
      <td>{{stock.code}}</td>
      <td>{{stock.currentPrice}}</td>
      <td>{{stock.currencyCode}}</td>
      <td>{{stock.createdDate}}</td>
      <td>{{stock.lastUpdated}}</td>
      <td><button type="button" (click)="updateStock(stock)" >Update</button><button type="button" (click)="deleteStock(stock.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
